body {
background-color: PapayaWhip;
border: 4px solid Gray;
border-radius: 16px;
font-family: 'Courier New', Courier, monospace;
margin-left: 24px;
margin-right: 24px;
max-width: 1024px;
min-width: 256px;
padding-top: 8px;
padding-bottom: 24px;
padding-left: 8px;
padding-right: 8px;
}
nav ul {
list-style-type: none;
background-color: Gold;
border: 4px solid #111111;
border-radius: 10px;
font-family: sans-serif;
font-weight: bold;
padding: 16px;
}
nav ul li {
display: inline;
border-right: 2px solid #111111;
padding-right: 8px;
padding-left: 8px;
}
nav ul li:last-child {
border-right: none;
}
nav ul li a {
text-decoration: none;
color: #111111;
}
html {
background: radial-gradient(circle, Yellow, Yellow 50%, Gold 50%, Yellow);
background-size: 8px 8px;
}